@model BagBag.Models.Product
@{
    /**/

    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="mens">
    <div class="main">
        <div class="wrap">
            <ul class="breadcrumb breadcrumb__t"><a class="home" href="@Url.Action("Index","Home")">Home</a></ul>
            <div class="cont span_2_of_3">
                <div class="grid images_3_of_2">
                    @foreach (var img in Model.ImgProducts.Take(1))
                    {
                        <ul id="etalage" class="slider">

                            <li>

                                <div>

                                    <img class="etalage_source_image img-responsive" src="~/myImg/BagBag/@img.Img_Product" title="" />
                                </div>

                            </li>

                        </ul>
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="desc1 span_3_of_2">
                    <h3 class="m_3">@Model.ProductName</h3>
                    @if (Model.PromotionId == null)
                    {
                        <h5 class="item_price">@string.Format("{0:#,##0 $}", @Model.ProductSold)</h5>
                    }
                    else
                    {
                        var motion = Model.Promotion.PromotionDiscount;
                        if (motion == 0 || motion == null)
                        {
                            <h5 class="item_price">@string.Format("{0:#,##0 $}", Model.ProductSold)</h5>
                        }
                        else
                        {
                            var sold = Model.ProductSold;
                            var its = sold - (sold * motion) / 100;
                            <h5 class="item_price">@string.Format("{0:#,##0 $}", its)</h5>
                        }
                    }
                    @*<p class="item_price">@string.Format("{0:#,##0 $}", @Model.ProductSold)</p>*@
                    <div class="btn_form">
                        <a href="@Url.Action("ThemGioHang", "Cart", new { @ProductId = Model.ProductId, strUrl = Request.Url.ToString()})" class="add-cart item_add">[ADD TO CART]</a>
                        |<a class="add-cart item_add" href="@Url.Action("Index", "Home")">[Continue shopping]</a>
                        <br />
                        <br />
                        <a href="@Model.LinkPay"><img src="https://www.baokim.vn/cdn/x_developer/module/baokim_btn/paynow-l.png" alt="Thanh toán an toàn với Bảo Kim !" border="0"></a>

                    </div>
                    <span class="m_link">Details </span>
                    <p class="m_text2">@Model.ProductDetails </p>
                </div>
                <div class="clear"></div>



            </div>
            <div class="rsingle span_1_of_single">
                <h5 class="m_1">Categories</h5>
                <ul class="kids">
                    <li><a href="@Url.Action("Workplace","CategoryBag")">Workplace</a></li>

                </ul>
                <ul class="kids">
                    <li><a href="@Url.Action("Traditional","CategoryBag")">Traditional</a></li>

                </ul>
                <ul class="kids">
                    <li><a href="@Url.Action("Withdraw","CategoryBag")">Withdraw</a></li>

                </ul>
                <ul class="kids">
                    <li><a href="@Url.Action("Backpack","CategoryBag")">Backpack</a></li>

                </ul>
                <section class="sky-form">
                    <h4>SUPPLIERS</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Rs 500 - Rs 700</label>
                        </div>
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 700 - Rs 1000</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 1000 - Rs 1500</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 1500 - Rs 2000</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 2000 - Rs 2500</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 2500 - Rs 3000</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 3500 - Rs 4000</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 4000 - Rs 4500</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 4500 - Rs 5000</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 5000 - Rs 5500</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 5500 - Rs 6000</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 6000 - Rs 6500</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 6500 - Rs 7000</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 7000 - Rs 7500</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 7500 - Rs 8000</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 8000 - Rs 8500</label>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Brand Name</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>John Jacobs</label>
                        </div>
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Tag Heuer</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Lee Cooper</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Mikli</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>S Oliver</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Hackett</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Killer</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>IDEE</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Vogue</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Gunnar</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Accu Reader</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>CAT</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Excellent</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Feelgood</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Odysey</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Animal</label>
                        </div>
                    </div>
                </section>




                <script src="~/Content/User/js/jquery.easydropdown.js"></script>

            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

