@model BagBag.Models.Delivery

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class=" text-center">Dilivery's Information</h2>
<a href="@Url.Action("Index","Deliveries")" class="btn btn-info">Manage</a>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeCode)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Deliveries", new { id = Model.DeliveryId})" class="btn btn-success">Edit</a>
</p>
