@model IEnumerable<BagBag.Models.Delivery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">Chính Sách Giao Hàng</h2>

<p>
    <a href="@Url.Action("Create", "Deliveries")" class="btn btn-info">
        Tạo Mới
    </a>
</p>
<table class="table table-striped table-bordered" id="tablefillset">
    <thead>
        <tr  class="text-center">
            <th></th>
            <th class="col-md-2 text-center">
                @Html.DisplayNameFor(model => model.DeliveryTitle)
            </th>
            <th class="col-md-2 text-center">
                @Html.DisplayNameFor(model => model.DeliveryDetails)
            </th>
            <th class="col-md-3 text-center">
                @Html.DisplayNameFor(model => model.DeliveryQuestion)
            </th>
            <th class="col-md-1 text-center">
                @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
            </th>
            <th  class="col-md-3 text-center"></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="text-center">
            <td>
                @if (String.IsNullOrEmpty(item.ImgDelivery) == false)
                {
                    <img style="width: 100px" src="@Url.Content(item.ImgDelivery)" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeCode)
            </td>
            <td>
                <a href="@Url.Action("UploadDelivery", "Deliveries", new { id = item.DeliveryId })" class="btn btn-info">
                    <i class="fa fa-image"></i>
                    <span>

                    </span>
                </a>
                |
                <a href="@Url.Action("Edit", "Deliveries", new { id = item.DeliveryId})" class="btn btn-success">
                    <i class="fa fa-pencil"></i>
                    <span>

                    </span>
                </a>
                |
                <a href="@Url.Action("Details", "Deliveries", new { id = item.DeliveryId})" class="btn btn-primary">
                    <i class="fa fa-list-alt"></i>
                    <span>

                    </span>
                </a>
                |
                <a href="@Url.Action("Delete", "Deliveries", new { id = item.DeliveryId})" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    <span>

                    </span>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
