@model IEnumerable<BagBag.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class=" text-center">Management Products</h2>

<p>
    <a href="@Url.Action("Create", "Products")" class="btn btn-info">
        Tạo Mới
    </a>
</p>
@Html.Raw(TempData["msg1"])
<table class="table table-striped table-bordered table-responsive" id="tablefillset">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductSold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                </td>
                <td>
                    <a href="@Url.Action("UploadProducts", "Products", new { id = item.ProductId})" class="btn btn-default">
                        <i class="fa fa-image"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Edit", "Products", new { id = item.ProductId})" class="btn btn-success">
                        <i class="fa fa-pencil"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductId })" class="btn btn-primary">
                        <i class="fa fa-list-alt"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Delete", "Products", new { id = item.ProductId})" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        <span>

                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
