@model BagBag.Models.Customer
@{
    ViewBag.Title = "LoginCart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

div class="login">
<div class="wrap">
    <div class="col_1_of_login span_1_of_login">
        <h4 class="title">New Customers</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</p>
        <div class="button1">
            <a href="@Url.Action("Register","Registers")">Register</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="col_1_of_login span_1_of_login">
        <div class="login-title">
            <h4 class="title">Đăng Nhập </h4>
            <div id="loginbox" class="loginbox">
                @using (Html.BeginForm("Login", "LoginUser", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <fieldset class="input">
                        <p id="login-form-username">
                            <label for="modlgn_username">Username</label>

                            @Html.TextBoxFor(model => model.CustomerCode, new { @class = "inputbox", @size = "18", @id = "modlgn_username", @autofocus = "autofocus" })
                        </p>
                        <p id="login-form-password">
                            <label for="modlgn_passwd">Password</label>

                            @Html.PasswordFor(model => model.CustomerPass, new { @class = "inputbox", @size = "18", @id = "modlgn_passwd" })
                        </p>
                        <div class="remember">
                            <p id="login-form-remember">
                                <label for="modlgn_remember"><a href="#">Forget Your Password ? </a></label>
                            </p>
                            <input type="submit" name="Submit" class="button" value="Login"><div class="clear"></div>
                        </div>
                    </fieldset>

                }
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
</div>


