@model BagBag.Models.Role

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">Thông Tin Khuyến Mãi</h2>
<a href="@Url.Action("Index","Promotions")" class="btn btn-info">Quản Lý</a>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Roles", new { id = Model.Id})" class="btn btn-success">Chỉnh Sửa</a>
</p>
