
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>CT464 - BagBag</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/IMG/BagBag.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/User/css/style.css" rel="stylesheet" />

    <link href="~/Content/User/css/form.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Content/User/js/jquery1.min.js"></script>
    <!-- start menu -->
    <link href="~/Content/User/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/User/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <!--start slider -->
    <link rel="stylesheet" href="~/Content/User/css/fwslider.css" media="all">
    <script src="~/Content/User/js/jquery-ui.min.js"></script>
    <script src="~/Content/User/js/css3-mediaqueries.js"></script>
    <script src="~/Content/User/js/fwslider.js"></script>
    <!--end slider -->
    <script src="~/Content/User/js/jquery.easydropdown.js"></script>
</head>
<body>
    <div class="header-top">
        <div class="wrap">
            <div class="header-top-left">

                <div class="clear"></div>
            </div>
            <div class="cssmenu">
                <ul>


                    @if (@Session["username"] == null)
                    {
                        <li><a href="@Url.Action("Login", "LoginUser")">Log In</a></li>
                    }

                    else
                    {
                        <li>Hi,@Session["username"] </li>

                        <li><a href="@Url.Action("UpdateAcount","Registers",new { id = @Session["username"] })">Update Account</a></li>

                        <li><a href="@Url.Action("XemGioHang","Cart")">Cart</a></li>

                        <li><a href="@Url.Action("LogOff","LoginUser")">Log Out</a></li>

                    }
                    <li><a href="@Url.Action("Register","Registers")">Sign Up</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")">BAGBAG</a>
                </div>
                <div class="menu">
                    <ul class="megamenu skyblue">
                        <li class="active grid"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>
                            <a class="color4" href="@Url.Action("Women","TypeBag")">Women</a>
                        </li>
                        <li>
                            <a class="color5" href="@Url.Action("Men","TypeBag")">Men</a>
                        </li>

                        <li><a class="color6" href="#">Delivery</a></li>
                        <li><a class="color7" href="#">News</a></li>
                        <li><a class="color2" href="#">Branch</a></li>
                        <li><a class="color6" href="@Url.Action("Contact","Home")">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-bottom-right">

                <div class="tag-list">

                    <ul class="icon1 sub-icon1 profile_img">
                        <li>
                            <a class="active-icon c2" href="@Url.Action("XemGioHang","Cart")"> </a>

                        </li>
                    </ul>
                    <ul class="last">
                        @Html.Action("ShoppingPartial", "Cart")
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    @RenderBody()
    <div class="footer">
        <div class="footer-top">
            <div class="wrap">
                <div class="section group example">
                    <div class="col_1_of_2 span_1_of_2">
                        <ul class="f-list">
                            <li><img src="~/Content/User/images/2.png"><span class="f-text">Free Shipping on orders over $ 100</span><div class="clear"></div></li>
                        </ul>
                    </div>
                    <div class="col_1_of_2 span_1_of_2">
                        <ul class="f-list">
                            <li><img src="~/Content/User/images/3.png"><span class="f-text">Call us! toll free-222-555-6666 </span><div class="clear"></div></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="wrap">




                <div class="section group example">
                    <div class="col_1_of_f_1 span_1_of_f_1">
                        <div class="section group example">
                            <div class="col_1_of_f_2 span_1_of_f_2">
                                <h3>Facebook</h3>
                                <div class="recent-tweet-icon">
                                    <span> </span>
                                </div>
                                <div class="recent-tweet-info">
                                    <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="col_1_of_f_2 span_1_of_f_2">

                                <h3>From Twitter</h3>
                                <div class="recent-tweet">
                                    <div class="recent-tweet-icon">
                                        <span> </span>
                                    </div>
                                    <div class="recent-tweet-info">
                                        <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="recent-tweet">
                                    <div class="recent-tweet-icon">
                                        <span> </span>
                                    </div>
                                    <div class="recent-tweet-info">
                                        <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col_1_of_f_1 span_1_of_f_1">
                        <div class="section group example">
                            <div class="col_1_of_f_2 span_1_of_f_2">
                                <h3>Information</h3>
                                <ul class="f-list1">
                                    <li><a href="#">Duis autem vel eum iriure </a></li>
                                    <li><a href="#">anteposuerit litterarum formas </a></li>
                                    <li><a href="#">Tduis dolore te feugait nulla</a></li>
                                    <li><a href="#">Duis autem vel eum iriure </a></li>
                                    <li><a href="#">anteposuerit litterarum formas </a></li>
                                    <li><a href="#">Tduis dolore te feugait nulla</a></li>
                                </ul>
                            </div>
                            <div class="col_1_of_f_2 span_1_of_f_2">
                                <h3>Contact us</h3>
                                <div class="company_address">
                                    <p>500 Lorem Ipsum Dolor Sit,</p>
                                    <p>22-56-2-9 Sit Amet, Lorem,</p>
                                    <p>USA</p>
                                    <p>Phone:(00) 222 666 444</p>
                                    <p>Fax: (000) 000 00 00 0</p>
                                    <p>Email: <span>mail[at]leoshop.com</span></p>

                                </div>
                                <div class="social-media">
                                    <ul>
                                        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="copy">
                    <p>Đặng Tuấn Huy <a href="https://github.com/dangtuanhuy/MyBagBag" target="_blank">CT464 - BagBag</a></p>
                </div>
                <div class="f-list2">
                    <ul>
                        <li class="active"><a href="#">About Us</a></li> |
                        <li><a href="#">Delivery & Returns</a></li> |
                        <li><a href="#">Terms & Conditions</a></li> |
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

</body>
@RenderSection("scripts", required: false)
</html>