@model BagBag.Models.About

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">About's Information</h2>
<a href="@Url.Action("Index","Abouts")" class="btn btn-info">Manage</a>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AboutUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutUs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AboutDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeCode)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Abouts", new { id = Model.AboutId })" class="btn btn-success">Edit</a>
</p>
