@model IEnumerable<BagBag.Models.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">About Us</h2>

<p>
    <a href="@Url.Action("Create", "Abouts")" class="btn btn-info">
        Add
    </a>
</p>
<table class="table table-striped table-bordered" id="tablefillset">
    <thead>
        <tr class="text-center">
            <th class="col-md-2 text-center"> About Us</th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.AboutUs)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.AboutDetails)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
            </th>
            <th class="col-md-2"></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="text-center">
            
            <td>
                @if (String.IsNullOrEmpty(item.AboutImg) == false)
                {
                    <img style="width: 100px" src="@Url.Content(item.AboutImg)" />
                }
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.AboutUs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeCode)
            </td>
            <td>
                <a href="@Url.Action("UploadAbout", "Abouts", new { id = item.AboutId})" class="btn btn-info">
                    <i class="fa fa-image"></i>
                    <span>

                    </span>
                </a>
                |
                <a href="@Url.Action("Edit", "Abouts", new { id = item.AboutId})" class="btn btn-success">
                    <i class="fa fa-pencil"></i>
                    <span>

                    </span>
                </a>
                |
                <a href="@Url.Action("Details", "Abouts", new { id = item.AboutId })" class="btn btn-primary">
                    <i class="fa fa-list-alt"></i>
                    <span>

                    </span>
                </a>
                |
                <a href="@Url.Action("Delete", "Abouts", new { id = item.AboutId })" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    <span>

                    </span>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
