@model BagBag.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">News's Information</h2>
<a href="@Url.Action("Index","News")" class="btn btn-info">Manage</a>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewTitles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewTitles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeCode)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "News", new { id = Model.NewsId })" class="btn btn-success">Edit</a>
</p>
