@model IEnumerable<BagBag.Models.About>
@{




    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<section class="section-paddings">
    <div class="container">
        <div class="row">
            <div class="login">
                <div class="wrap">
                    <ul class="breadcrumb breadcrumb__t"><a class="home" href="@Url.Action("Index","Home")">Home</a>  / About</ul>
                    <div class="section group">
                        <div class="labout span_1_of_about">
                            <h3>Testimonials</h3>
                            <div class="testimonials ">
                                <div class="testi-item">
                                    <blockquote class="testi-item_blockquote">
                                        <a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </a>
                                        <div class="clear"></div>
                                    </blockquote>
                                    <small class="testi-meta">
                                        <span class="user">Lorem ipsum dolor </span>,
                                        <span class="info">sit amet</span><br><a href="#">http://demolink.org</a>
                                    </small>
                                </div>
                            </div>
                            <div class="testimonials ">
                                <div class="testi-item">
                                    <blockquote class="testi-item_blockquote">
                                        <a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </a>
                                        <div class="clear"></div>
                                    </blockquote>
                                    <small class="testi-meta">
                                        <span class="user">Lorem ipsum dolor</span>,
                                        <span class="info">sit amet</span><br><a href="#">http://demolink.org</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model.Take(1))
                        {
                            <div class="cont span_2_of_about">

                                <h3>@Html.DisplayFor(modelItem => item.AboutUs)</h3>

                                <p> @Html.DisplayFor(modelItem => item.AboutDetails)</p>
                                <h5 class="m_6">Meet Our Team</h5>
                                <div class="section group">
                                    <div class="col_1_of_about-box span_1_of_about-box">
                                        <a class="popup-with-zoom-anim" href="#small-dialog3">
                                            <span class="rollover"></span>

                                            @if (String.IsNullOrEmpty(item.AboutImg) == false)
                                            {
                                                <img style="width: 100px" src="@Url.Content(item.AboutImg)" />
                                            }

                                        </a>
                                        <div id="small-dialog3" class="mfp-hide">
                                            <div class="pop_up2">
                                                <h2>@Html.DisplayFor(modelItem => item.AboutUs) </h2>
                                                <p> @Html.DisplayFor(modelItem => item.AboutDetails)</p>
                                            </div>
                                        </div>
                                        <p>@Html.DisplayFor(modelItem => item.Employee.LastName)</p>
                                        <h4 class="m_7"><a href="@Url.Action("Index","Home")">Home</a></h4>

                                    </div>


                                    <div class="clear"></div>

                                </div>
                                <!-- Add fancyBox main JS and CSS files -->
                                <script src="~/Content/User/js/jquery.magnific-popup.js"></script>

                                <link href="~/Content/User/css/magnific-popup.css" rel="stylesheet" />

                                <script>
                                    $(document).ready(function () {
                                        $('.popup-with-zoom-anim').magnificPopup({
                                            type: 'inline',
                                            fixedContentPos: false,
                                            fixedBgPos: true,
                                            overflowY: 'auto',
                                            closeBtnInside: true,
                                            preloader: false,
                                            midClick: true,
                                            removalDelay: 300,
                                            mainClass: 'my-mfp-zoom-in'
                                        });
                                    });
                                </script>
                            </div>
                        }
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




