@model BagBag.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">Customer's Details</h2>
<a href="@Url.Action("Index","Customers")" class="btn btn-info">Manage</a>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerFax)
        </dd>


    </dl>
</div>
