@model BagBag.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
